<h1 class="admin-title">Administration Panel</h1>
<section class="profile-global">
  <aside class="profile-nav">
    <ul class="profile-edition">
      <li><a class="__edition-button" href="profile.html">Dashboard</a></li>
      <li>
        <a class="__edition-button" href="profile.html">Manage Navigation</a>
      </li>
      <li><a class="__edition-button" href="profile.html">Manage Pages</a></li>
      <li><a class="__edition-button" href="profile.html">Manage Pages</a></li>
      <li><a class="__edition-button" href="profile.html">Manage Theme</a></li>
      <li>
        <a class="__edition-button" href="profile.html">General Settings</a>
      </li>
    </ul>
  </aside>

  <section class="profile-content">
    <h1 class="profile-title">Manage Theme</h1>

    <section class="color-selector-content">
      <div class="color-selector">
        <span class="color-span-number">#1</span>
        <input
          type="color"
          id="primary-color"
          name="primary-color"
          value="#ff490c"
        />
      </div>
      <div class="color-description">
        <span class="color-span-description"
          >This color typically represents key elements such as links, buttons, and important highlights throughout the website. It's often used to draw attention to interactive elements and primary calls to action.</span>
      </div>

      <div class="color-selector">
        <span class="color-span-number">#2</span>
        <input
          type="color"
          id="secondary-color"
          name="secondary-color"
          value="#6c757d"
        />
      </div>
      <div class="color-description">
        <span class="color-span-description"
          >This color serves as a complement to the primary color and is often used for secondary elements like borders, accents, and less prominent buttons or links.</span
        >
      </div>

      <div class="color-selector">
        <span class="color-span-number">#3</span>
        <input
          type="color"
          id="success-color"
          name="success-color"
          value="#28a745"
        />
      </div>
      <div class="color-description">
        <span class="color-span-description"
          >This color indicates success or positive feedback, commonly used for success messages, confirmation indicators, or elements related to successfully completed actions.</span
        >
      </div>

      <div class="color-selector">
        <span class="color-span-number">#4</span>
        <input
          type="color"
          id="danger-color"
          name="danger-color"
          value="#dc3545"
        />
      </div>
      <div class="color-description">
        <span class="color-span-description"
          >This color is used to signify errors, warnings, or actions that may have negative consequences. It's commonly employed for error messages, alerts, or prompts indicating potential risks.</span
        >
      </div>

      <div class="color-selector">
        <span class="color-span-number">#5</span>
        <input
          type="color"
          id="warning-color"
          name="warning-color"
          value="#ffc107"
        />
      </div>
      <div class="color-description">
        <span class="color-span-description"
          >This color signals caution or warnings, typically used for alerts, notifications, or actions that require attention but may not necessarily result in immediate negative outcomes.</span
        >
      </div>

      <div class="color-selector">
        <span class="color-span-number">#6</span>
        <input type="color" id="info-color" name="info-color" value="#17a2b8" 
        />
      </div>
      <div class="color-description">
        <span class="color-span-description"
          >This color provides informational context or additional details, often used for informative messages, tooltips, or indicators providing supplementary information.</span
        >
      </div>

      <div class="color-selector">
        <span class="color-span-number">#7</span>
        <input
        type="color"
        id="light-color"
        name="light-color"
        value="#f8f9fa"/>
      </div>
      <div class="color-description">
        <span class="color-span-description"
          >This color represents light or neutral backgrounds, providing contrast to darker elements and enhancing readability. It's commonly used for backgrounds, containers, or areas with content.</span
        >
      </div>

      

      <div class="color-selector">
        <span class="color-span-number">#8</span>
        <input type="color" id="dark-color" name="dark-color" value="#343a40" 
        />
      </div>
      <div class="color-description">
        <span class="color-span-description"
          > This color serves as a darker background or text color, offering contrast against lighter elements and providing a visually appealing balance. It's used for dark backgrounds, text, or less prominent content.</span
        >
      </div>

      <div class="color-selector">
        <span class="color-span-number">#9</span>
        <input
        type="color"
        id="dark2-color"
        name="dark2-color"
        value="#1c1f21"
        />
      </div>
      <div class="color-description">
        <span class="color-span-description"
          >Similar to the dark color, this alternative dark shade provides variation and depth to the design. It's often used interchangeably with the dark color for additional contrast or emphasis.</span
        >
      </div>

      <div class="color-selector">
        <span class="color-span-number">#10</span>
        <input
        type="color"
        id="fancy-color"
        name="fancy-color"
        value="#fef5e7"
        />
      </div>
      <div class="color-description">
        <span class="color-span-description"
          >This color adds flair or decorative elements to the design, used sparingly for accents, highlights, or decorative elements that enhance the visual appeal of the website without overpowering the primary content.</span
        >
      </div>

     
    </section>
    <div class="logo-selector">
      <label for="logo-upload">Upload</label>
      <input type="file" id="logo-upload" name="logo-upload" />
      <img src="#" alt="Current Logo Preview" id="logo-preview" />
    </div>
    <button id="save-theme-btn">Save</button>
  </section>
</section>
