:root {
  --primary-color: #ff490c;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --dark2-color: #1c1f21;
  --fancy-color: #fef5e7;
}

:root {
  --primary-color-hover: #cf3805;
  --secondary-color-hover: #5a6268;
  --success-color-hover: #218838;
  --danger-color-hover: #c82333;
  --warning-color-hover: #e0a800;
  --info-color-hover: #138496;
  --light-color-hover: #e2e6ea;
  --dark-color-hover: #23272b;
  --dark2-color-hover: #090b0b;
  --fancy-color-hover: #c4b49c;
}

:root {
  --title-font: "Bebas Neue", sans-serif;
  --body-font: "Montserrat", sans-serif;
  --title-font-size: 5rem;
  --small-title-font-size: 2.4rem;
  --very-small-title-font-size: 1.8rem;
  --large-font-size: 1.4rem;
  --body-font-size: 1.1rem;
  --small-body-font-size: 0.9rem;
  --navbar-font-size: 1.2rem;
}

:root {
  --spacing-xs: 0.25;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
}

:root {
  --breakpoint-s: 576px;
  --breakpoint-m: 768px;
  --breakpoint-l: 992px;
  --breakpoint-xl: 1200px;
}

:root {
  --box-shadow: 0.2 4px rgba(0, 0, 0, 0.1);
  --border-radius: 0.25rem;
  --transition-duration: 0.3s;
  --transition-duration-fast: 0.1s;
}

:root {
  --z-index-modal: 1000;
  --z-index-dropdown: 900;
  --z-index-navbar: 800;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/bg.png), linear-gradient(180deg, rgba(15,15,15,0.3) 0%, rgba(0,0,0,0.8) 97%);
  background-color: rgb(28,31,33); /* Couleur de fond de secours */
  background-size: cover; /* Pour que l'image de fond couvre toute la fenêtre */
  background-repeat: no-repeat; /* Pour empêcher la répétition de l'image */
}




#main {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  margin-bottom: var(--spacing-m);
}

h2 {
  font-family: var(--body-font);
  font-size: var(--small-title-font-size);
  margin-bottom: var(--spacing-s);
}

h3 {
  font-family: var(--body-font);
  font-size: var(--very-small-title-font-size);
  margin-bottom: var(--spacing-xs);
}

p {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--spacing-xl);
}

a {
  text-decoration: none;
  font-family: var(--body-font);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

:visited {
  text-decoration: none;
  color: var(--primary-color);
}

.main-section {
  width: 100%;
  padding: 40px 0;
}

.light {
  color: var(--dark-color);
  background: var(--light-color);
}

.dark {
  color: var(--light-color);
  background: var(--dark-color);
}

.primary {
  color: var(--light-color);
  background: var(--primary-color);
}

.main-section-content {
  width: 88%;
  margin: 0 auto;
}

.not-found-error-background {
  width: 100%;
  height: 80%;
  position: absolute;
  background: url("./../images/404-03.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.03;
}

.not-found-error {
  width: 80%;
  margin: 0 auto;
  display: flex;
  min-height: calc(100vh - (101px + 200px));
  align-items: center;
  flex-direction: row;
  color: var(--light-color);
}

.not-found-info {
  width: 100%;
}

.not-found-info h1 {
  width: 100%;
  color: var(--primary-color);
}

.not-found-logo {
  height: 400px;
}

.not-found-logo img {
  height: 100%;
}

.index-link {
  color: var(--light-color);
  font-size: var(--large-font-size);
  margin-top: var(--spacing-m);
  display: inline-block;
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius:var(--border-radius);
  font-family: var(--body-font);
  font-weight: bold;
  margin-top: 50px;
}
.index-link:hover {
  background: var(--primary-color-hover);
  cursor: pointer;
  text-decoration: none;
}
